body {
  background-image:url('../pattern-34.jpeg');
  width: 100%;
  min-width: 575px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
}
.title{
  font-size: 50px;
  margin: 15px auto;
  margin-bottom: 60px;
  margin-top: 50px;
  padding: 10px;
  text-align: center;
  color: white;
  max-width: 300px;
  letter-spacing: .3em;
  text-shadow: -1px 0 black, 0 1px black, 8px 0 black, 0 -1px black;
}
.topnav {
    width: 100%;
    background-color: #1a1a1ac5;
    height: 70px;
    padding-left: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0px;
    z-index: 3;
}
.topnav-links{
  height: 100%;
  display: flex;
  align-items: center;
}
.topnav-searchbar{
  display: flex;
  align-items: center;
}
.logo{
  width: 200px;
  color: black;
}
  .topnav a {
    color: rgb(143, 143, 143);
    background-color: none;
    height: 100%;
    padding: 14px;
    text-decoration: none;
    font-size: 17px;
    display: flex;
    align-items: center;
    transition: all .5s;
  }
  .topnav a:hover, .topnav a.active:hover{
    color: rgb(255, 255, 255);
  }
  .topnav a.active {

    color: rgb(226, 226, 226);
  }
  .topnav input[type=search] {

    border: none;
    border-radius: 25px;
    margin-right: 16px;
    font-size: 17px;
    width: 400px;
    padding: 5px 20px;
  }
  .topnav input[type=search]:focus {
    outline: none;
  }
  .topnav .gobutton{
    background-color: #B80C00;
    color: white;
    border: none;
    margin-right: 16px;
    font-size: 17px;
    width: 60px;
    border-radius: 20px;
    padding: 5px 10px;
  }
  .topnav #go:hover {
    cursor:pointer;
    border: 3px solid black;
  }
  #gifscontainer{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0px;
      flex-grow: 1;

  }
  #nogif-filler{
    text-align: center;
    color: white;
    margin-top: 50px;
    flex-grow: 3;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  /*Explore */
  .bottomnav{
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
    margin: 15px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
    max-width: 872px;
    top: 0px;
    z-index: 2;
    text-align: center;
    border-radius: 2px;
    box-shadow: 3px 3px 10px black;
  }
  
  .bottomnav a{
    color: black;
    background-color: none;
    height: 100%;
    padding: 14px;
    text-decoration: none;
    font-size: 17px;
    display: flex;
    align-items: center;
    transition: all .5s;
  }
  
  a:hover{
    background-color: #555;
    color: white;
  }
  .explorecontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90%;
  }
  .col {
    width: min-content;
  }
  .explore-menu{
    width: auto;
    text-align: center;
  }
  .explore-menu:hover{
    transform:scale(1.14);
  }
  /* ///SaveButton */

.gif-span {
  position: relative;
  display: flex;
  justify-content: center;
  transition:all .5s;

}
.gif-span:hover{
  transform:scale(1.04);
}
.gif-span:hover .heart-filled{
  opacity: 1;
  color: rgb(238, 238, 238);
}
.gif-span:hover .gif-overlay{
  background-color: #1a1a1aa2;
}
.heart-filled{
  opacity: 0;
  color:rgba(238, 238, 238, 0);
  position: absolute;
  transition:all .5s;
  font-size: 72px;
  z-index: 6;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.gif{
  z-index: 0;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 3px 3px 10px black;
  transition:all .5s;
}
.footer {
  color: rgb(179, 146, 146);
  background-color: #1a1a1a7c;
  font-family: "Ubuntu Condensed", sans-serif;
  width: 100%;
  text-align: center;
  padding: 20px;
  margin-top: 100px;
}
.gif-overlay {
  position: absolute;
  border-radius: 5px;
  background-color: rgba(255, 0, 0, 0);
  transition: all .5s;
}
#loader{
  display: none;
  color: white;
  font-size: 36px;
  margin: 50px 0px;
}
#navbar-dropdown{
  display: none;
}
.dropdown-toggle{
  background-color: #B80C00;
  border: none;
}
.dropdown-item.active {
  background-color: #B80C00;
}
.col-lg-3{
  width: max-content;
}



@media screen and (max-width: 991px) {
  .bottomnav{
    width: 487.5px;
  }
  #gifscontainer{
    width: 575px;
  }
  .topnav input[type=search] {
    width: 300px;
  }
  #navbar-dropdown{
    display: block;
  }
  .topnav-links{
    display: none;
  }
}